/*----------- CSS Reset -----------*/

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


/*----------- Universal Styles -----------*/
/* Eg padding on your sections, utility classes, etc. */

body {
  min-height:100vh;
  max-height:100vh;
}


section {
  background-color:rgba(255, 255, 255, 0.9);
  width:60%;
  padding:5%;
  text-align:center;
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-image {
  background-image: url('images/bg-maya.jpg');
  background-size:cover;
}

.logo {
  width:250px;
  padding-bottom:1.8em;
}

.lic-logo {
  width:100px;
}


/*----------- Typography -----------*/

h1 {
  font-family: 'Playfair Display', serif;
  line-height: 1.6;
  font-size:1.2rem;
  padding-bottom: 1rem;
  color: #484848;
}

h2 {                /*----------- this is the paragraph -----------*/
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.3;
  font-size:1.1rem;
  padding-bottom: 1rem;
  color: #484848;
  font-weight:400;
}

h3 {                  /*----------- this is the copyright -----------*/
  font-family: 'Cormorant Garamond', serif;
  font-size:0.9rem;
  color: #484848;
}

p {                 /*----------- this is the launch date -----------*/
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.3rem;
  color: #484848;
  font-size:1.2rem;
  padding:2%;
}

a {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size:0.8rem;
  color: #484848;
  letter-spacing: 1px;
}


/*----------- Button -----------*/

.button-block {
  padding: 5% 0 10% 0;
}

.button {
  background-color: #bababa;
  border: none;
  color: #fff;
  padding:0.8rem;
  display:inline-block;
  border-radius: 25px;
  transition:1s;
  margin:1rem;
}

.button:hover {
  background-color: #fff;
  color:#bababa;
}


/*----------- MEDIA QUERIES -----------*/
@media(max-width:768px) {
  section {
    width:70%;
    padding:5%;
  }


} /* this closes the media querie */

@media(max-width:576px) {

.logo {
  width:200px;
}

section {
  width:85%;
  padding:10% 5% 10% 5%;
}

} /* this closes the media querie */
